openapi: 3.2.0
info:
  title: MagicBell Integrations API
  description: OpenAPI 3.0.3 Specification for MagicBell API.
  contact:
    name: MagicBell
    url: https://magicbell.com
    email: hello@magicbell.com
  version: 2.0.0
servers:
- url: https://api.magicbell.com/v2
  description: MagicBell REST API Base URL
tags:
- name: Integrations
paths:
  /integrations/awssns/webhooks/incoming/{id}:
    post:
      tags:
      - Integrations
      description: Receives and processes incoming webhook events from the awssns integration. Each integration can define its own webhook payload format and handling logic.
      operationId: handle_awssns_webhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AWSSNSWebhookEvent'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AWSSNSWebhookEvent'
      summary: Handle awssns webhook
      x-summary-source: derived
  /integrations/github/webhooks/incoming/{id}:
    post:
      tags:
      - Integrations
      description: Receives and processes incoming webhook events from the github integration. Each integration can define its own webhook payload format and handling logic.
      operationId: handle_github_webhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GithubWebhookEvent'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubWebhookEvent'
      summary: Handle github webhook
      x-summary-source: derived
  /integrations/stripe/webhooks/incoming/{id}:
    post:
      tags:
      - Integrations
      description: Receives and processes incoming webhook events from the stripe integration. Each integration can define its own webhook payload format and handling logic.
      operationId: handle_stripe_webhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeWebhookEvent'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeWebhookEvent'
      summary: Handle stripe webhook
      x-summary-source: derived
components:
  schemas:
    StripeWebhookEvent:
      required:
      - id
      - description
      type: object
      properties:
        description:
          type: string
          description: Description of the webhook event
        id:
          type: string
          description: Unique identifier for the webhook event
      example:
        description: example event
        id: evt_1J4J9v2eZvKYlo2C1J4J9v2e
        type: invoice.created
    GithubWebhookEvent:
      type: object
      properties:
        description:
          type: string
        payload:
          type: object
          additionalProperties: true
        type:
          type: string
      example:
        description: example event
        payload: {}
        type: ping
    AWSSNSWebhookEvent:
      type: object
      properties:
        description:
          type: string
        payload:
          type:
          - object
          - 'null'
          additionalProperties: true
        type:
          type: string
      example:
        payload: {}
        type: ping
