openapi: 3.0.3
info:
  title: MagicBell API
  description: OpenAPI 3.0.3 Specification for MagicBell API.
  contact:
    name: MagicBell
    url: https://magicbell.com
    email: hello@magicbell.com
  version: 2.0.0
servers:
- url: https://api.magicbell.com/v2
  description: MagicBell REST API Base URL
tags:
- name: apns
- name: awssns
- name: broadcasts
- name: channel/email
- name: channel/mobile_push
- name: channel/slack
- name: channel/sms
- name: channel/web_push
- name: channels
- name: expo
- name: fcm
- name: github
- name: inbox
- name: integrations
- name: mailgun
- name: mobile_push
- name: ping_email
- name: project
- name: sendgrid
- name: ses
- name: slack
- name: stripe
- name: teams
- name: templates
- name: twilio
- name: user
- name: web_push
paths:
  /broadcasts:
    get:
      tags:
      - project
      - broadcasts
      description: Retrieves a paginated list of broadcasts for the project. Returns basic information about each broadcast
        including its creation time and status.
      operationId: list_broadcasts
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfBroadcasts'
    post:
      tags:
      - project
      - broadcasts
      description: Creates a new broadcast message. When a broadcast is created, it generates individual notifications for
        relevant users within the project. Only administrators can create broadcasts.
      operationId: create_broadcast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Broadcast'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
  /broadcasts/{broadcast_id}:
    get:
      tags:
      - project
      - broadcasts
      description: Retrieves detailed information about a specific broadcast by its ID. Includes the broadcast's configuration
        and current status.
      operationId: fetch_broadcast
      parameters:
      - name: broadcast_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
  /channels/deliveryconfig:
    get:
      tags:
      - project
      - channels
      description: ''
      operationId: get_project_deliveryconfig
      parameters:
      - name: key
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryDeliveryConfig'
    put:
      tags:
      - project
      - channels
      description: ''
      operationId: save_project_deliveryconfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryDeliveryConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryDeliveryConfig'
  /channels/mobile_push/apns/tokens:
    get:
      tags:
      - user
      - channels
      - mobile_push
      - apns
      description: Lists all mobile_push tokens belonging to the authenticated user. Returns a paginated list of tokens, including
        their status, creation dates, and associated metadata.
      operationId: get_mobile_push_apns_tokens
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfAPNSTokenResponses'
    post:
      tags:
      - user
      - channels
      - mobile_push
      - apns
      description: Saves a mobile_push token for the authenticated user. This token serves as a credential for accessing channel-specific
        functionality. Each token is unique to the user and channel combination, allowing for direct communication with the
        user via the channel.
      operationId: save_mobile_push_apns_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APNSToken'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APNSToken'
  /channels/mobile_push/apns/tokens/{token_id}:
    delete:
      tags:
      - user
      - channels
      - mobile_push
      - apns
      description: Revokes one of the authenticated user's mobile_push tokens. This permanently invalidates the specified
        token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke
        their own tokens.
      operationId: discard_mobile_push_apns_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - user
      - channels
      - mobile_push
      - apns
      description: Retrieves details of a specific mobile_push token belonging to the authenticated user. Returns information
        about the token's status, creation date, and any associated metadata. Users can only access their own tokens.
      operationId: get_mobile_push_apns_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APNSTokenResponse'
  /channels/mobile_push/expo/tokens:
    get:
      tags:
      - user
      - channels
      - mobile_push
      - expo
      description: Lists all mobile_push tokens belonging to the authenticated user. Returns a paginated list of tokens, including
        their status, creation dates, and associated metadata.
      operationId: get_mobile_push_expo_tokens
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfExpoTokenResponses'
    post:
      tags:
      - user
      - channels
      - mobile_push
      - expo
      description: Saves a mobile_push token for the authenticated user. This token serves as a credential for accessing channel-specific
        functionality. Each token is unique to the user and channel combination, allowing for direct communication with the
        user via the channel.
      operationId: save_mobile_push_expo_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpoToken'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpoToken'
  /channels/mobile_push/expo/tokens/{token_id}:
    delete:
      tags:
      - user
      - channels
      - mobile_push
      - expo
      description: Revokes one of the authenticated user's mobile_push tokens. This permanently invalidates the specified
        token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke
        their own tokens.
      operationId: discard_mobile_push_expo_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - user
      - channels
      - mobile_push
      - expo
      description: Retrieves details of a specific mobile_push token belonging to the authenticated user. Returns information
        about the token's status, creation date, and any associated metadata. Users can only access their own tokens.
      operationId: get_mobile_push_expo_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpoTokenResponse'
  /channels/mobile_push/fcm/tokens:
    get:
      tags:
      - user
      - channels
      - mobile_push
      - fcm
      description: Lists all mobile_push tokens belonging to the authenticated user. Returns a paginated list of tokens, including
        their status, creation dates, and associated metadata.
      operationId: get_mobile_push_fcm_tokens
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfFCMTokenResponses'
    post:
      tags:
      - user
      - channels
      - mobile_push
      - fcm
      description: Saves a mobile_push token for the authenticated user. This token serves as a credential for accessing channel-specific
        functionality. Each token is unique to the user and channel combination, allowing for direct communication with the
        user via the channel.
      operationId: save_mobile_push_fcm_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FCMToken'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCMToken'
  /channels/mobile_push/fcm/tokens/{token_id}:
    delete:
      tags:
      - user
      - channels
      - mobile_push
      - fcm
      description: Revokes one of the authenticated user's mobile_push tokens. This permanently invalidates the specified
        token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke
        their own tokens.
      operationId: discard_mobile_push_fcm_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - user
      - channels
      - mobile_push
      - fcm
      description: Retrieves details of a specific mobile_push token belonging to the authenticated user. Returns information
        about the token's status, creation date, and any associated metadata. Users can only access their own tokens.
      operationId: get_mobile_push_fcm_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCMTokenResponse'
  /channels/slack/tokens:
    get:
      tags:
      - user
      - channels
      - slack
      description: Lists all slack tokens belonging to the authenticated user. Returns a paginated list of tokens, including
        their status, creation dates, and associated metadata.
      operationId: get_slack_tokens
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfSlackTokenResponses'
    post:
      tags:
      - user
      - channels
      - slack
      description: Saves a slack token for the authenticated user. This token serves as a credential for accessing channel-specific
        functionality. Each token is unique to the user and channel combination, allowing for direct communication with the
        user via the channel.
      operationId: save_slack_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlackToken'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackToken'
      x-forbid-unknown-cookie: true
      x-forbid-unknown-header: true
      x-forbid-unknown-path: true
      x-forbid-unknown-query: true
  /channels/slack/tokens/{token_id}:
    delete:
      tags:
      - user
      - channels
      - slack
      description: Revokes one of the authenticated user's slack tokens. This permanently invalidates the specified token,
        preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their
        own tokens.
      operationId: discard_slack_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - user
      - channels
      - slack
      description: Retrieves details of a specific slack token belonging to the authenticated user. Returns information about
        the token's status, creation date, and any associated metadata. Users can only access their own tokens.
      operationId: get_slack_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackTokenResponse'
  /channels/teams/tokens:
    get:
      tags:
      - user
      - channels
      - teams
      description: Lists all teams tokens belonging to the authenticated user. Returns a paginated list of tokens, including
        their status, creation dates, and associated metadata.
      operationId: get_teams_tokens
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfTeamsTokenResponses'
    post:
      tags:
      - user
      - channels
      - teams
      description: Saves a teams token for the authenticated user. This token serves as a credential for accessing channel-specific
        functionality. Each token is unique to the user and channel combination, allowing for direct communication with the
        user via the channel.
      operationId: save_teams_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsToken'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsToken'
  /channels/teams/tokens/{token_id}:
    delete:
      tags:
      - user
      - channels
      - teams
      description: Revokes one of the authenticated user's teams tokens. This permanently invalidates the specified token,
        preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their
        own tokens.
      operationId: discard_teams_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - user
      - channels
      - teams
      description: Retrieves details of a specific teams token belonging to the authenticated user. Returns information about
        the token's status, creation date, and any associated metadata. Users can only access their own tokens.
      operationId: get_teams_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsTokenResponse'
  /channels/web_push/tokens:
    get:
      tags:
      - user
      - channels
      - web_push
      description: Lists all web_push tokens belonging to the authenticated user. Returns a paginated list of tokens, including
        their status, creation dates, and associated metadata.
      operationId: get_web_push_tokens
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfWebPushTokenResponses'
    post:
      tags:
      - user
      - channels
      - web_push
      description: Saves a web_push token for the authenticated user. This token serves as a credential for accessing channel-specific
        functionality. Each token is unique to the user and channel combination, allowing for direct communication with the
        user via the channel.
      operationId: save_web_push_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebPushToken'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPushToken'
  /channels/web_push/tokens/{token_id}:
    delete:
      tags:
      - user
      - channels
      - web_push
      description: Revokes one of the authenticated user's web_push tokens. This permanently invalidates the specified token,
        preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their
        own tokens.
      operationId: discard_web_push_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - user
      - channels
      - web_push
      description: Retrieves details of a specific web_push token belonging to the authenticated user. Returns information
        about the token's status, creation date, and any associated metadata. Users can only access their own tokens.
      operationId: get_web_push_token
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPushTokenResponse'
  /events:
    get:
      tags:
      - project
      description: Retrieves a paginated list of events for the project.
      operationId: get_events
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfEvents'
  /integrations:
    get:
      tags:
      - project
      - integrations
      summary: List Integrations
      description: Lists all available and configured integrations for the project. Returns a summary of each integration
        including its type, status, and basic configuration information.
      operationId: list_integrations
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfIntegrationObjects'
  /integrations/apns:
    delete:
      tags:
      - project
      - integrations
      - apns
      - channel/mobile_push
      description: Removes a apns integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_apns_integration
      responses:
        '204':
          description: No Content
      x-meta:
        channel: mobile_push
        displayName: APNs
        name: apns
    get:
      tags:
      - project
      - integrations
      - apns
      - channel/mobile_push
      description: Retrieves the current apns integration configurations for a specific integration type in the project. Returns
        configuration details and status information.
      operationId: get_apns_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfAPNSConfigObjects'
    put:
      tags:
      - project
      - integrations
      - apns
      - channel/mobile_push
      description: Creates or updates a apns integration for the project. Only administrators can configure integrations.
      operationId: save_apns_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APNSConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APNSConfig'
      x-meta:
        channel: mobile_push
        displayName: APNs
        name: apns
  /integrations/apns/{id}:
    delete:
      tags:
      - project
      - integrations
      - apns
      - channel/mobile_push
      description: Removes a specific apns integration instance by ID from the project.
      operationId: delete_apns_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        channel: mobile_push
        displayName: APNs
        name: apns
  /integrations/awssns:
    delete:
      tags:
      - project
      - integrations
      - awssns
      description: Removes a awssns integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_awssns_integration
      responses:
        '204':
          description: No Content
      x-meta:
        displayName: Amazon SNS
        name: awssns
    get:
      tags:
      - project
      - integrations
      - awssns
      description: Retrieves the current awssns integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_awssns_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfAWSSNSConfigObjects'
    put:
      tags:
      - project
      - integrations
      - awssns
      description: Creates or updates a awssns integration for the project. Only administrators can configure integrations.
      operationId: save_awssns_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AWSSNSConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AWSSNSConfig'
      x-forbid-unknown-cookie: true
      x-forbid-unknown-header: true
      x-forbid-unknown-path: true
      x-forbid-unknown-query: true
      x-meta:
        displayName: Amazon SNS
        name: awssns
  /integrations/awssns/webhooks/incoming/{id}:
    post:
      tags:
      - integrations
      - awssns
      description: Receives and processes incoming webhook events from the awssns integration. Each integration can define
        its own webhook payload format and handling logic.
      operationId: handle_awssns_webhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AWSSNSWebhookEvent'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AWSSNSWebhookEvent'
  /integrations/awssns/{id}:
    delete:
      tags:
      - project
      - integrations
      - awssns
      description: Removes a specific awssns integration instance by ID from the project.
      operationId: delete_awssns_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        displayName: Amazon SNS
        name: awssns
  /integrations/expo:
    delete:
      tags:
      - project
      - integrations
      - expo
      - channel/mobile_push
      description: Removes a expo integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_expo_integration
      responses:
        '204':
          description: No Content
      x-meta:
        channel: mobile_push
        displayName: Expo
        name: expo
    get:
      tags:
      - project
      - integrations
      - expo
      - channel/mobile_push
      description: Retrieves the current expo integration configurations for a specific integration type in the project. Returns
        configuration details and status information.
      operationId: get_expo_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfExpoConfigObjects'
    put:
      tags:
      - project
      - integrations
      - expo
      - channel/mobile_push
      description: Creates or updates a expo integration for the project. Only administrators can configure integrations.
      operationId: save_expo_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpoConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpoConfig'
      x-meta:
        channel: mobile_push
        displayName: Expo
        name: expo
  /integrations/expo/{id}:
    delete:
      tags:
      - project
      - integrations
      - expo
      - channel/mobile_push
      description: Removes a specific expo integration instance by ID from the project.
      operationId: delete_expo_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        channel: mobile_push
        displayName: Expo
        name: expo
  /integrations/fcm:
    delete:
      tags:
      - project
      - integrations
      - fcm
      - channel/mobile_push
      description: Removes a fcm integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_fcm_integration
      responses:
        '204':
          description: No Content
      x-meta:
        channel: mobile_push
        displayName: FCM
        name: fcm
    get:
      tags:
      - project
      - integrations
      - fcm
      - channel/mobile_push
      description: Retrieves the current fcm integration configurations for a specific integration type in the project. Returns
        configuration details and status information.
      operationId: get_fcm_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfFCMConfigObjects'
    put:
      tags:
      - project
      - integrations
      - fcm
      - channel/mobile_push
      description: Creates or updates a fcm integration for the project. Only administrators can configure integrations.
      operationId: save_fcm_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FCMConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCMConfig'
      x-meta:
        channel: mobile_push
        displayName: FCM
        name: fcm
  /integrations/fcm/{id}:
    delete:
      tags:
      - project
      - integrations
      - fcm
      - channel/mobile_push
      description: Removes a specific fcm integration instance by ID from the project.
      operationId: delete_fcm_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        channel: mobile_push
        displayName: FCM
        name: fcm
  /integrations/github:
    delete:
      tags:
      - project
      - integrations
      - github
      description: Removes a github integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_github_integration
      responses:
        '204':
          description: No Content
      x-meta:
        displayName: GitHub
        name: github
    get:
      tags:
      - project
      - integrations
      - github
      description: Retrieves the current github integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_github_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfGithubConfigObjects'
    put:
      tags:
      - project
      - integrations
      - github
      description: Creates or updates a github integration for the project. Only administrators can configure integrations.
      operationId: save_github_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GithubConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubConfig'
      x-forbid-unknown-cookie: true
      x-forbid-unknown-header: true
      x-forbid-unknown-path: true
      x-forbid-unknown-query: true
      x-meta:
        displayName: GitHub
        name: github
  /integrations/github/webhooks/incoming/{id}:
    post:
      tags:
      - integrations
      - github
      description: Receives and processes incoming webhook events from the github integration. Each integration can define
        its own webhook payload format and handling logic.
      operationId: handle_github_webhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GithubWebhookEvent'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubWebhookEvent'
  /integrations/github/{id}:
    delete:
      tags:
      - project
      - integrations
      - github
      description: Removes a specific github integration instance by ID from the project.
      operationId: delete_github_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        displayName: GitHub
        name: github
  /integrations/inbox:
    delete:
      tags:
      - project
      - integrations
      - inbox
      description: Removes a inbox integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_inbox_integration
      responses:
        '204':
          description: No Content
      x-meta:
        displayName: Inbox
        name: inbox
    get:
      tags:
      - project
      - integrations
      - inbox
      description: Retrieves the current inbox integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_inbox_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfInboxConfigObjects'
    put:
      tags:
      - project
      - integrations
      - inbox
      description: Creates or updates a inbox integration for the project. Only administrators can configure integrations.
      operationId: save_inbox_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboxConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxConfig'
      x-meta:
        displayName: Inbox
        name: inbox
  /integrations/inbox/installations:
    post:
      tags:
      - user
      - integrations
      - inbox
      description: Creates a new installation of a inbox integration for a user. This endpoint is used when an integration
        needs to be set up with user-specific credentials or configuration.
      operationId: save_inbox_installation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboxConfig'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxConfig'
  /integrations/inbox/installations/start:
    post:
      tags:
      - user
      - integrations
      - inbox
      description: Initiates the installation flow for a inbox integration. This is the first step in a multi-step installation
        process where user authorization or external service configuration may be required.
      operationId: start_inbox_installation
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxConfig'
  /integrations/inbox/{id}:
    delete:
      tags:
      - project
      - integrations
      - inbox
      description: Removes a specific inbox integration instance by ID from the project.
      operationId: delete_inbox_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        displayName: Inbox
        name: inbox
  /integrations/mailgun:
    delete:
      tags:
      - project
      - integrations
      - mailgun
      - channel/email
      description: Removes a mailgun integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_mailgun_integration
      responses:
        '204':
          description: No Content
      x-meta:
        channel: email
        displayName: Mailgun
        name: mailgun
    get:
      tags:
      - project
      - integrations
      - mailgun
      - channel/email
      description: Retrieves the current mailgun integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_mailgun_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfMailgunConfigObjects'
    put:
      tags:
      - project
      - integrations
      - mailgun
      - channel/email
      description: Creates or updates a mailgun integration for the project. Only administrators can configure integrations.
      operationId: save_mailgun_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailgunConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailgunConfig'
      x-meta:
        channel: email
        displayName: Mailgun
        name: mailgun
  /integrations/mailgun/{id}:
    delete:
      tags:
      - project
      - integrations
      - mailgun
      - channel/email
      description: Removes a specific mailgun integration instance by ID from the project.
      operationId: delete_mailgun_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        channel: email
        displayName: Mailgun
        name: mailgun
  /integrations/ping_email:
    delete:
      tags:
      - project
      - integrations
      - ping_email
      - channel/email
      description: Removes a ping_email integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_ping_email_integration
      responses:
        '204':
          description: No Content
      x-meta:
        channel: email
        displayName: Ping Email
        name: ping_email
    get:
      tags:
      - project
      - integrations
      - ping_email
      - channel/email
      description: Retrieves the current ping_email integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_ping_email_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfPingConfigObjects'
    put:
      tags:
      - project
      - integrations
      - ping_email
      - channel/email
      description: Creates or updates a ping_email integration for the project. Only administrators can configure integrations.
      operationId: save_ping_email_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingConfig'
      x-meta:
        channel: email
        displayName: Ping Email
        name: ping_email
  /integrations/ping_email/{id}:
    delete:
      tags:
      - project
      - integrations
      - ping_email
      - channel/email
      description: Removes a specific ping_email integration instance by ID from the project.
      operationId: delete_ping_email_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        channel: email
        displayName: Ping Email
        name: ping_email
  /integrations/sendgrid:
    delete:
      tags:
      - project
      - integrations
      - sendgrid
      - channel/email
      description: Removes a sendgrid integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_sendgrid_integration
      responses:
        '204':
          description: No Content
      x-meta:
        channel: email
        displayName: SendGrid
        name: sendgrid
    get:
      tags:
      - project
      - integrations
      - sendgrid
      - channel/email
      description: Retrieves the current sendgrid integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_sendgrid_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfSendgridConfigObjects'
    put:
      tags:
      - project
      - integrations
      - sendgrid
      - channel/email
      description: Creates or updates a sendgrid integration for the project. Only administrators can configure integrations.
      operationId: save_sendgrid_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendgridConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendgridConfig'
      x-meta:
        channel: email
        displayName: SendGrid
        name: sendgrid
  /integrations/sendgrid/{id}:
    delete:
      tags:
      - project
      - integrations
      - sendgrid
      - channel/email
      description: Removes a specific sendgrid integration instance by ID from the project.
      operationId: delete_sendgrid_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        channel: email
        displayName: SendGrid
        name: sendgrid
  /integrations/ses:
    delete:
      tags:
      - project
      - integrations
      - ses
      - channel/email
      description: Removes a ses integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_ses_integration
      responses:
        '204':
          description: No Content
      x-meta:
        channel: email
        displayName: Amazon SES
        name: ses
    get:
      tags:
      - project
      - integrations
      - ses
      - channel/email
      description: Retrieves the current ses integration configurations for a specific integration type in the project. Returns
        configuration details and status information.
      operationId: get_ses_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfSESConfigObjects'
    put:
      tags:
      - project
      - integrations
      - ses
      - channel/email
      description: Creates or updates a ses integration for the project. Only administrators can configure integrations.
      operationId: save_ses_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SESConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SESConfig'
      x-meta:
        channel: email
        displayName: Amazon SES
        name: ses
  /integrations/ses/{id}:
    delete:
      tags:
      - project
      - integrations
      - ses
      - channel/email
      description: Removes a specific ses integration instance by ID from the project.
      operationId: delete_ses_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        channel: email
        displayName: Amazon SES
        name: ses
  /integrations/slack:
    delete:
      tags:
      - project
      - integrations
      - slack
      - channel/slack
      description: Removes a slack integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_slack_integration
      responses:
        '204':
          description: No Content
      x-meta:
        channel: slack
        displayName: Slack
        name: slack
    get:
      tags:
      - project
      - integrations
      - slack
      - channel/slack
      description: Retrieves the current slack integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_slack_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfSlackConfigObjects'
    put:
      tags:
      - project
      - integrations
      - slack
      - channel/slack
      description: Creates or updates a slack integration for the project. Only administrators can configure integrations.
      operationId: save_slack_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlackConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackConfig'
      x-meta:
        channel: slack
        displayName: Slack
        name: slack
  /integrations/slack/installations:
    post:
      tags:
      - user
      - integrations
      - slack
      description: Creates a new installation of a slack integration for a user. This endpoint is used when an integration
        needs to be set up with user-specific credentials or configuration.
      operationId: save_slack_installation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlackInstallation'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackInstallation'
  /integrations/slack/installations/finish:
    post:
      tags:
      - user
      - integrations
      - slack
      description: Completes the installation flow for a slack integration. This endpoint is typically called after the user
        has completed any required authorization steps with slack.
      operationId: finish_slack_installation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlackFinishInstallResponse'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackInstallation'
  /integrations/slack/installations/start:
    post:
      tags:
      - user
      - integrations
      - slack
      description: Initiates the installation flow for a slack integration. This is the first step in a multi-step installation
        process where user authorization or external service configuration may be required.
      operationId: start_slack_installation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlackStartInstall'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackStartInstallResponseContent'
      x-forbid-unknown-cookie: true
      x-forbid-unknown-header: true
      x-forbid-unknown-path: true
      x-forbid-unknown-query: true
  /integrations/slack/{id}:
    delete:
      tags:
      - project
      - integrations
      - slack
      - channel/slack
      description: Removes a specific slack integration instance by ID from the project.
      operationId: delete_slack_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        channel: slack
        displayName: Slack
        name: slack
  /integrations/stripe:
    delete:
      tags:
      - project
      - integrations
      - stripe
      description: Removes a stripe integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_stripe_integration
      responses:
        '204':
          description: No Content
      x-meta:
        displayName: Stripe
        name: stripe
    get:
      tags:
      - project
      - integrations
      - stripe
      description: Retrieves the current stripe integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_stripe_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfStripeConfigObjects'
    put:
      tags:
      - project
      - integrations
      - stripe
      description: Creates or updates a stripe integration for the project. Only administrators can configure integrations.
      operationId: save_stripe_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConfig'
      x-forbid-unknown-cookie: true
      x-forbid-unknown-header: true
      x-forbid-unknown-path: true
      x-forbid-unknown-query: true
      x-meta:
        displayName: Stripe
        name: stripe
  /integrations/stripe/webhooks/incoming/{id}:
    post:
      tags:
      - integrations
      - stripe
      description: Receives and processes incoming webhook events from the stripe integration. Each integration can define
        its own webhook payload format and handling logic.
      operationId: handle_stripe_webhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeWebhookEvent'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeWebhookEvent'
  /integrations/stripe/{id}:
    delete:
      tags:
      - project
      - integrations
      - stripe
      description: Removes a specific stripe integration instance by ID from the project.
      operationId: delete_stripe_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        displayName: Stripe
        name: stripe
  /integrations/templates:
    delete:
      tags:
      - project
      - integrations
      - templates
      description: Removes a templates integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_templates_integration
      responses:
        '204':
          description: No Content
      x-meta:
        displayName: Templates
        name: templates
    get:
      tags:
      - project
      - integrations
      - templates
      description: Retrieves the current templates integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_templates_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfTemplatesConfigObjects'
    put:
      tags:
      - project
      - integrations
      - templates
      description: Creates or updates a templates integration for the project. Only administrators can configure integrations.
      operationId: save_templates_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesConfig'
      x-meta:
        displayName: Templates
        name: templates
  /integrations/templates/installations:
    post:
      tags:
      - user
      - integrations
      - templates
      description: Creates a new installation of a templates integration for a user. This endpoint is used when an integration
        needs to be set up with user-specific credentials or configuration.
      operationId: save_templates_installation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesInstallation'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesInstallation'
  /integrations/templates/{id}:
    delete:
      tags:
      - project
      - integrations
      - templates
      description: Removes a specific templates integration instance by ID from the project.
      operationId: delete_templates_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        displayName: Templates
        name: templates
  /integrations/twilio:
    delete:
      tags:
      - project
      - integrations
      - twilio
      - channel/sms
      description: Removes a twilio integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_twilio_integration
      responses:
        '204':
          description: No Content
      x-meta:
        channel: sms
        displayName: Twilio
        name: twilio
    get:
      tags:
      - project
      - integrations
      - twilio
      - channel/sms
      description: Retrieves the current twilio integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_twilio_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfTwilioConfigObjects'
    put:
      tags:
      - project
      - integrations
      - twilio
      - channel/sms
      description: Creates or updates a twilio integration for the project. Only administrators can configure integrations.
      operationId: save_twilio_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwilioConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwilioConfig'
      x-meta:
        channel: sms
        displayName: Twilio
        name: twilio
  /integrations/twilio/{id}:
    delete:
      tags:
      - project
      - integrations
      - twilio
      - channel/sms
      description: Removes a specific twilio integration instance by ID from the project.
      operationId: delete_twilio_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        channel: sms
        displayName: Twilio
        name: twilio
  /integrations/web_push:
    delete:
      tags:
      - project
      - integrations
      - web_push
      - channel/web_push
      description: Removes a web_push integration configuration from the project. This will disable the integration's functionality
        within the project.
      operationId: delete_web_push_integration
      responses:
        '204':
          description: No Content
      x-meta:
        channel: web_push
        displayName: Web Push
        name: web_push
    get:
      tags:
      - project
      - integrations
      - web_push
      - channel/web_push
      description: Retrieves the current web_push integration configurations for a specific integration type in the project.
        Returns configuration details and status information.
      operationId: get_web_push_integration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfWebpushConfigObjects'
    put:
      tags:
      - project
      - integrations
      - web_push
      - channel/web_push
      description: Creates or updates a web_push integration for the project. Only administrators can configure integrations.
      operationId: save_web_push_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebpushConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebpushConfig'
      x-meta:
        channel: web_push
        displayName: Web Push
        name: web_push
  /integrations/web_push/installations:
    post:
      tags:
      - user
      - integrations
      - web_push
      description: Creates a new installation of a web_push integration for a user. This endpoint is used when an integration
        needs to be set up with user-specific credentials or configuration.
      operationId: save_web_push_installation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebPushToken'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPushToken'
  /integrations/web_push/installations/start:
    post:
      tags:
      - user
      - integrations
      - web_push
      description: Initiates the installation flow for a web_push integration. This is the first step in a multi-step installation
        process where user authorization or external service configuration may be required.
      operationId: start_web_push_installation
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPushStartInstallationResponse'
  /integrations/web_push/{id}:
    delete:
      tags:
      - project
      - integrations
      - web_push
      - channel/web_push
      description: Removes a specific web_push integration instance by ID from the project.
      operationId: delete_web_push_integration_by_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-meta:
        channel: web_push
        displayName: Web Push
        name: web_push
  /jwt/project:
    get:
      tags:
      - project
      description: Retrieves a list of all active project-level JWT tokens. Returns a paginated list showing token metadata
        including creation date, last used date, and expiration time. For security reasons, the actual token values are not
        included in the response.
      operationId: fetch_project_tokens
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfFetchTokensResponseTokens'
    post:
      tags:
      - project
      description: Creates a new project-level JWT token. These tokens provide project-wide access and should be carefully
        managed. Only administrators can create project tokens. The returned token should be securely stored as it cannot
        be retrieved again after creation.
      operationId: create_project_jwt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectTokenRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
  /jwt/project/{token_id}:
    delete:
      tags:
      - project
      description: Immediately revokes a project-level JWT token. Once revoked, any requests using this token will be rejected.
        This action is immediate and cannot be undone. Active sessions using this token will be terminated.
      operationId: discard_project_jwt
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardTokenResponse'
  /jwt/user:
    post:
      tags:
      - project
      description: Issues a new user-specific JWT token. These tokens are scoped to individual user permissions and access
        levels. Only administrators can create user tokens. The token is returned only once at creation time and cannot be
        retrieved later.
      operationId: create_user_jwt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserTokenRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
  /jwt/user/{token_id}:
    delete:
      tags:
      - project
      description: Revokes a specific user's JWT token. This immediately invalidates the token and terminates any active sessions
        using it. This action cannot be undone. Administrators should use this to revoke access when needed for security purposes.
      operationId: discard_user_jwt
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardTokenResponse'
  /jwt/user/{user_id}:
    get:
      tags:
      - project
      description: Lists all JWT tokens associated with a specific user. Returns token metadata including creation time, last
        access time, and expiration date. Administrators can use this to audit user token usage and manage active sessions.
        Token values are not included in the response for security reasons.
      operationId: fetch_user_tokens
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfFetchTokensResponseTokens'
  /users/{user_id}/channels/mobile_push/apns/tokens:
    get:
      tags:
      - project
      - channels
      - mobile_push
      - apns
      description: Lists all mobile_push tokens associated with a specific user. This endpoint is available to project administrators
        and returns a paginated list of tokens, including both active and revoked tokens.
      operationId: get_mobile_push_apns_user_tokens
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfAPNSTokenResponses'
  /users/{user_id}/channels/mobile_push/apns/tokens/{token_id}:
    delete:
      tags:
      - project
      - channels
      - mobile_push
      - apns
      description: Revokes a specific user's mobile_push token. This endpoint is available to project administrators and permanently
        invalidates the specified token. Once revoked, the token can no longer be used to access channel features. This action
        cannot be undone.
      operationId: discard_mobile_push_apns_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - project
      - channels
      - mobile_push
      - apns
      description: Retrieves a specific mobile_push token by its ID for a given user. This endpoint is available to project
        administrators and requires project-level authentication. Use this to inspect token details including its status,
        creation date, and associated metadata.
      operationId: get_mobile_push_apns_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APNSTokenResponse'
  /users/{user_id}/channels/mobile_push/expo/tokens:
    get:
      tags:
      - project
      - channels
      - mobile_push
      - expo
      description: Lists all mobile_push tokens associated with a specific user. This endpoint is available to project administrators
        and returns a paginated list of tokens, including both active and revoked tokens.
      operationId: get_mobile_push_expo_user_tokens
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfExpoTokenResponses'
  /users/{user_id}/channels/mobile_push/expo/tokens/{token_id}:
    delete:
      tags:
      - project
      - channels
      - mobile_push
      - expo
      description: Revokes a specific user's mobile_push token. This endpoint is available to project administrators and permanently
        invalidates the specified token. Once revoked, the token can no longer be used to access channel features. This action
        cannot be undone.
      operationId: discard_mobile_push_expo_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - project
      - channels
      - mobile_push
      - expo
      description: Retrieves a specific mobile_push token by its ID for a given user. This endpoint is available to project
        administrators and requires project-level authentication. Use this to inspect token details including its status,
        creation date, and associated metadata.
      operationId: get_mobile_push_expo_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpoTokenResponse'
  /users/{user_id}/channels/mobile_push/fcm/tokens:
    get:
      tags:
      - project
      - channels
      - mobile_push
      - fcm
      description: Lists all mobile_push tokens associated with a specific user. This endpoint is available to project administrators
        and returns a paginated list of tokens, including both active and revoked tokens.
      operationId: get_mobile_push_fcm_user_tokens
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfFCMTokenResponses'
  /users/{user_id}/channels/mobile_push/fcm/tokens/{token_id}:
    delete:
      tags:
      - project
      - channels
      - mobile_push
      - fcm
      description: Revokes a specific user's mobile_push token. This endpoint is available to project administrators and permanently
        invalidates the specified token. Once revoked, the token can no longer be used to access channel features. This action
        cannot be undone.
      operationId: discard_mobile_push_fcm_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - project
      - channels
      - mobile_push
      - fcm
      description: Retrieves a specific mobile_push token by its ID for a given user. This endpoint is available to project
        administrators and requires project-level authentication. Use this to inspect token details including its status,
        creation date, and associated metadata.
      operationId: get_mobile_push_fcm_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCMTokenResponse'
  /users/{user_id}/channels/slack/tokens:
    get:
      tags:
      - project
      - channels
      - slack
      description: Lists all slack tokens associated with a specific user. This endpoint is available to project administrators
        and returns a paginated list of tokens, including both active and revoked tokens.
      operationId: get_slack_user_tokens
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfSlackTokenResponses'
  /users/{user_id}/channels/slack/tokens/{token_id}:
    delete:
      tags:
      - project
      - channels
      - slack
      description: Revokes a specific user's slack token. This endpoint is available to project administrators and permanently
        invalidates the specified token. Once revoked, the token can no longer be used to access channel features. This action
        cannot be undone.
      operationId: discard_slack_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - project
      - channels
      - slack
      description: Retrieves a specific slack token by its ID for a given user. This endpoint is available to project administrators
        and requires project-level authentication. Use this to inspect token details including its status, creation date,
        and associated metadata.
      operationId: get_slack_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackTokenResponse'
  /users/{user_id}/channels/teams/tokens:
    get:
      tags:
      - project
      - channels
      - teams
      description: Lists all teams tokens associated with a specific user. This endpoint is available to project administrators
        and returns a paginated list of tokens, including both active and revoked tokens.
      operationId: get_teams_user_tokens
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfTeamsTokenResponses'
  /users/{user_id}/channels/teams/tokens/{token_id}:
    delete:
      tags:
      - project
      - channels
      - teams
      description: Revokes a specific user's teams token. This endpoint is available to project administrators and permanently
        invalidates the specified token. Once revoked, the token can no longer be used to access channel features. This action
        cannot be undone.
      operationId: discard_teams_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - project
      - channels
      - teams
      description: Retrieves a specific teams token by its ID for a given user. This endpoint is available to project administrators
        and requires project-level authentication. Use this to inspect token details including its status, creation date,
        and associated metadata.
      operationId: get_teams_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsTokenResponse'
  /users/{user_id}/channels/web_push/tokens:
    get:
      tags:
      - project
      - channels
      - web_push
      description: Lists all web_push tokens associated with a specific user. This endpoint is available to project administrators
        and returns a paginated list of tokens, including both active and revoked tokens.
      operationId: get_web_push_user_tokens
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfWebPushTokenResponses'
  /users/{user_id}/channels/web_push/tokens/{token_id}:
    delete:
      tags:
      - project
      - channels
      - web_push
      description: Revokes a specific user's web_push token. This endpoint is available to project administrators and permanently
        invalidates the specified token. Once revoked, the token can no longer be used to access channel features. This action
        cannot be undone.
      operationId: discard_web_push_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscardResult'
    get:
      tags:
      - project
      - channels
      - web_push
      description: Retrieves a specific web_push token by its ID for a given user. This endpoint is available to project administrators
        and requires project-level authentication. Use this to inspect token details including its status, creation date,
        and associated metadata.
      operationId: get_web_push_user_token
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPushTokenResponse'
components:
  schemas:
    APNSConfig:
      required:
      - app_id
      - certificate
      - key_id
      - team_id
      - badge
      type: object
      properties:
        app_id:
          pattern: ^[a-zA-Z0-9]+(.[a-zA-Z0-9]+)*$
          type: string
          description: The default bundle identifier of the application that is configured with this project. It can be overriden
            on a per token basis, when registering device tokens.
        badge:
          enum:
          - unread
          - unseen
          type: string
        certificate:
          pattern: ^-+?\s?BEGIN PRIVATE KEY-+\n([A-Za-z0-9+/\r\n]+={0,2})\n-+\s?END PRIVATE KEY+-+\n?$
          type: string
          description: The APNs certificate in P8 format. Generate it at [developer.apple.com](https://developer.apple.com/account/resources/authkeys/add)
            with the 'Apple Push Notification service (APNs)' option selected.
          x-ui:
            tagName: textarea
        key_id:
          maxLength: 10
          minLength: 10
          type: string
        payload_version:
          enum:
          - '1'
          - '2'
          type: string
          default: '2'
          x-ui:
            type: hidden
        team_id:
          maxLength: 10
          minLength: 10
          type: string
      example:
        app_id: com.example.myapp
        badge: unread
        certificate: '-----BEGIN PRIVATE KEY-----

          MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgHnr4B2P+by++FGu/th0a44E8chJl5v5Vo4gq0YHw6e6gCgYIKoZIzj0DAQehRANCAARCg1MRibnfyeX5mx6+Rtfzzn7UhJP/oaqL4RzSmDuTsd3BTX33cuQ0gWHe20R2m1bLAkI1wrp+zbWOlAOAD7KX

          -----END PRIVATE KEY-----'
        key_id: ABCD1234EF
        team_id: ABCD1234EF
    APNSConfigObject:
      required:
      - name
      - id
      - config
      type: object
      properties:
        config:
          $ref: '#/components/schemas/APNSConfig'
        id:
          type: string
        name:
          type: string
    APNSToken:
      required:
      - device_token
      type: object
      properties:
        app_id:
          pattern: ^[a-zA-Z0-9]+(.[a-zA-Z0-9]+)*$
          type: string
          description: (Optional) The bundle identifier of the application that is registering this token. Use this field
            to override the default identifier specified in the projects APNs integration.
        device_token:
          minLength: 64
          type: string
        installation_id:
          enum:
          - development
          - production
          type: string
          description: (Optional) The APNs environment the token is registered for. If none is provided we assume the token
            is used in `production`.
      example:
        device_token: eH0fLhuiRj2Np7UQ-opXAm:APA91bGtC-wH4sgW1jWkMKIZf7FYkm_RTQb7Jid7DfSJnCgivGYoRzhLrGxpcIF6yPjmbzAr6CKF-6phZkBasFUUfZmfdgcqfA_ZlZdVk6pSnon3LGzMumCzEJE0zgWoo_RUmVUVJUAt
        installation_id: development
    APNSTokenResponse:
      required:
      - created_at
      - device_token
      - id
      type: object
      properties:
        app_id:
          pattern: ^[a-zA-Z0-9]+(.[a-zA-Z0-9]+)*$
          type: string
          description: (Optional) The bundle identifier of the application that is registering this token. Use this field
            to override the default identifier specified in the projects APNs integration.
        created_at:
          type: string
          format: date-time
        device_token:
          minLength: 64
          type: string
        discarded_at:
          type: string
          format: date-time
          nullable: true
        id:
          type: string
        installation_id:
          enum:
          - development
          - production
          type: string
          description: (Optional) The APNs environment the token is registered for. If none is provided we assume the token
            is used in `production`.
        updated_at:
          type: string
          format: date-time
          nullable: true
      example:
        created_at: '2021-01-01T00:00:00Z'
        device_token: eH0fLhuiRj2Np7UQ-opXAm:APA91bGtC-wH4sgW1jWkMKIZf7FYkm_RTQb7Jid7DfSJnCgivGYoRzhLrGxpcIF6yPjmbzAr6CKF-6phZkBasFUUfZmfdgcqfA_ZlZdVk6pSnon3LGzMumCzEJE0zgWoo_RUmVUVJUAt
        discarded_at: '2021-01-01T00:00:00Z'
        id: '123'
        installation_id: development
        updated_at: '2021-01-01T00:00:00Z'
    AWSSNSConfig:
      required:
      - webhook_signing_secret
      type: object
      properties:
        webhook_signing_secret:
          minLength: 1
          type: string
          description: The signing certificate from AWS SNS
      additionalProperties: false
      example:
        webhook_signing_secret: whsec_e5cf4458caae49ae72d8f275deb9b63bdd41dd5c932c27c9346d428fb9e1d0a0
    AWSSNSConfigObject:
      required:
      - name
      - id
      - config
      type: object
      properties:
        config:
          $ref: '#/components/schemas/AWSSNSConfig'
        id:
          type: string
        name:
          type: string
    AWSSNSWebhookEvent:
      type: object
      properties:
        description:
          type: string
        payload:
          type: object
          additionalProperties: true
          nullable: true
        type:
          type: string
      example:
        payload: {}
        type: ping
    AccessToken:
      required:
      - token
      - token_id
      - created_at
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        token:
          type: string
        token_id:
          type: string
          format: uuid
      example:
        created_at: '2021-01-01T00:00:00Z'
        token: eY.......
        token_id: 019b1b1e-7b1b-4b1b-8b1b-1b1b1b1b1b1b
    ArrayOfAPNSConfigObjects:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/APNSConfigObject'
        links:
          $ref: '#/components/schemas/Links'
      example:
        data:
        - config:
            app_id: com.example.myapp
            badge: unread
            certificate: '-----BEGIN PRIVATE KEY-----

              MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgHnr4B2P+by++FGu/th0a44E8chJl5v5Vo4gq0YHw6e6gCgYIKoZIzj0DAQehRANCAARCg1MRibnfyeX5mx6+Rtfzzn7UhJP/oaqL4RzSmDuTsd3BTX33cuQ0gWHe20R2m1bLAkI1wrp+zbWOlAOAD7KX

              -----END PRIVATE KEY-----'
            key_id: ABCD1234EF
            team_id: ABCD1234EF
          id: '123'
          name: slack
        links:
          first: https://api.magicbell.com/v1/example
          next: https://api.magicbell.com/v1/example?page[next]=abc
          prev: null
    ArrayOfAPNSTokenResponses:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/APNSTokenResponse'
        links:
          $ref: '#/components/schemas/Links'
      example:
        data:
        - created_at: '2021-01-01T00:00:00Z'
          device_token: eH0fLhuiRj2Np7UQ-opXAm:APA91bGtC-wH4sgW1jWkMKIZf7FYkm_RTQb7Jid7DfSJnCgivGYoRzhLrGxpcIF6yPjmbzAr6CKF-6phZkBasFUUfZmfdgcqfA_ZlZdVk6pSnon3LGzMumCzEJE0zgWoo_RUmVUVJUAt
          discarded_at: '2021-01-01T00:00:00Z'
          id: '123'
          installation_id: development
          updated_at: '2021-01-01T00:00:00Z'
        links:
          first: https://api.magicbell.com/v1/example
          next: https://api.magicbell.com/v1/example?page[next]=abc
          prev: null
    ArrayOfAWSSNSConfigObjects:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AWSSNSConfigObject'
        links:
          $ref: '#/components/schemas/Links'
      example:
        data:
        - config:
            webhook_signing_secret: whsec_e5cf4458caae49ae72d8f275deb9b63bdd41dd5c932c27c9346d428fb9e1d0a0
          id: '123'
          name: slack
        links:
          first: https://api.magicbell.com/v1/example
          next: https://api.magicbell.com/v1/example?page[next]=abc
          prev: null
    ArrayOfBroadcasts:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Broadcast'
        links:
          $ref: '#/components/schemas/Links'
      example:
        data:
        - action_url: https://example.com
          category: example
          content: Hello, World!
          custom_attributes: {}
          id: d1b3b3b3-3b3b-3b3b-3b3b-3b3b3b3b3b3b
          overrides: {}
          recipients:
          - custom_attributes:
              plan: enterprise
              preferred_pronoun: They
              pricing_version: v10
            email: test@example.com
            external_id: 83d987a-83fd034
            first_name: Person
            last_name: Doe
            phone_numbers:
            - +1 5005550001
          title: Hello, World!
          topic: example
        links:
          first: https://api.magicbell.com/v1/example
          next: https://api.magicbell.com/v1/example?page[next]=abc
          prev: null
    ArrayOfEvents:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        links:
          $ref: '#/components/schemas/Links'
      example:
        data:
        - id: '123'
          timestamp: '2021-01-01T00:00:00Z'
          type: example_type
        links:
          first: https://api.magicbell.com/v1/example
          next: https://api.magicbell.com/v1/example?page[next]=abc
          prev: null
    ArrayOfExpoConfigObjects:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExpoConfigObject'
        links:
          $ref: '#/components/schemas/Links'
      example:
        data:
        - config:
            access_token: expo_access_token
          id: '123'
          name: slack
        links:
          first: https://api.magicbell.com/v1/example
          next: https://api.magicbell.com/v1/example?page[next]=abc
          prev: null
    ArrayOfExpoTokenResponses:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExpoTokenResponse'
        links:
          $ref: '#/components/schemas/Links'
      example:
        data:
        - created_at: '2021-01-01T00:00:00Z'
          device_token: expo-device-id
          discarded_at: '2021-01-01T00:00:00Z'
          id: '123'
          updated_at: '2021-01-01T00:00:00Z'
        links:
          first: https://api.magicbell.com/v1/example
          next: https://api.magicbell.com/v1/example?page[next]=abc
          prev: null
    ArrayOfFCMConfigObjects:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FCMConfigObject'
        links:
          $ref: '#/components/schemas/Links'
      example:
        data:
        - config:
            auth_provider_x509_cert_url: https://www.googleapis.com/oauth2/v1/certs
            auth_uri: https://accounts.google.com/o/oauth2/auth
            client_email: firebase-adminsdk-qwhtp@platform-development.iam.gserviceaccount.com
            client_id: '117893100789081023083'
            client_x509_cert_url: https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-qwhtp%40magicbell-development.iam.gserviceaccount.com
            private_key: '-----BEGIN PRIVATE KEY-----

              MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC7/GBHM4AK4/8c

              ZyvJfdzjBzfA48tV9T3N4hBCb4E66jIz+oztH9oSngEfIVO/L1dWjK1OlN0cqJ0f

              QaKq1eycSjmwfTR3HGNjQQyoGQ4BFBdyqT5rRDDZLPI2LoR0dtQXcBtiFpJF2t8e

              iDmpl3d/ipuKMtBRzjYPqzP0qv3YkPmw2v5FqKK9EIaHRtOhd2R28F5FE+kF1dvB

              t7fEeVtKcQJcSwDUQ8HEshlWSx6azGd4jxf9jHRXWumXYfTA6NMA7EUTDJVus3vU

              y9MCv2KwZO/dzlQygY0BM9FHPSzZRIiHUx+DH6gYl2uWJatluHz58lj3r5mo/Ssc

              yP3TrqOnAgMBAAECggEAWAnDe0UCt9b8QGyPBK/V1VspgMQOE+UlOzkenUaEUreg

              qFg0TM8ofaSS6OXeR0DgGdALUCyGeyf6YcuG55QFWlKmvuF8QzY/05mA2G7XcKjc

              rF3Xtju61tLmYnqZnMOT46AkquTgPyfYa3+n5aVimRAsdOYESvOUvPTUgcbc2GGK

              C2h2MUCoRKuhzbGx847XJmINRE+xaht4hDMhzhMBVrgGGyQ3sIdbCxpbiQR6QH2H

              pITrSnd4hlKRPREWS/D4FUKP/ucXdORP9SUi0R64NRZ3GvT1HvpVZ9fOXwIACdAG

              9fpIQbsmIgxhgZ5ZjuGz/nFi2KQ2Y8rEycQmnHd4QQKBgQD4LVFL93E4qwr7Eruj

              FjyxGYYi2PhVxvrpiSD6ziK3HUjAxat6OcoElJx7WEFWHmi7KRgehqcl40A8Coav

              9DGBwnSM2AYKgzOqMqzjK71TFOQsJdGEYThnhiL2FoQeptgskVS7J9MMBPTnyl7D

              YObINwGbg9auVp66rj5W+dymZwKBgQDB6VdpxJpU9hXBW+8nJESduhzpYiHoe1kN

              yka90dQDOe2b/R7bnF1Ggte6Ll1dMs3xLhN1Mm2XTcX2zmzM15C0E4+1t1LXXzAo

              O2P+riEmCIUc1i0yNMVgEKXiOBBYgKauE3fT88c4dw2JAT0QlifJ0h8kRPNhUaq9

              espjleNQwQKBgHUzwZ7knn2qmSb1M9PTHppseWJfoPexXrGHZyHK064ykDcpos+4

              FuWO4U+G4GQxPDiXMaLI6IsGBUHVnsHdyruC/9O7+S5hw7Zu9CLcdy6TQSZwPcAM

              wbxyJnSdMYvgM1roz2ELb6nPdXE5qwMN8i8/euzcmDgBBDkZLKuamE+lAoGBAKb7

              vd7DAvPvBkUAWi2mub/pqUQA0ZpVvhZ1/f0wWBZ/J/KQQqZzPI+f1Q3rJ1M+kMIE

              H5Vo257TxooGsQKlD2NDBRpCx//XZK0Al9eVM86Av8BZX4pAj0dujqsEBG9yOhbl

              hObsor4pJ2q3ulIyPAk7/L1K8xr3LMUGnIqtZJcBAoGAEQffqGbnaOG8Ue3++bLP

              N6XlAyt5UajAd1CycIHgDvbW0CkWoI70Bg7QNqMYJe6DareH4vRpdB3tw6zNP7qN

              0Bd04L8+zUYN+VqNJ70d7Xn+k2rY7STlgU3vwOzHFwu4wK2A7e+aAZ8AjC+Sr0ZM

              ps+wuWO8MN5yQTBZvAEIfQs=

              -----END PRIVATE KEY-----

              '
            private_key_id: 1935e74178f6ef0bbc23fb3538255f8281093bf2
            project_id: platform-development
            token_uri: https://oauth2.googleapis.com/token
            type: service_account
            universe_domain: googleapis.com
          id: '123'
          name: slack
        links:
          first: https://api.magicbell.com/v1/example
          next: https://api.magicbell.com/v1/example?page[next]=abc
          prev: null
    ArrayOfFCMTokenResponses:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FCMTokenResponse'
[...]
